USE [master]
GO
/****** Object:  Database [ProyectoFinal]    Script Date: 12/08/2022 08:31:22 p.m. ******/
CREATE DATABASE [ProyectoFinal]
/* Elibel Beltre Luna
21-EIIT-1-024 
Seccion 0541*/

 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProyectoFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProyectoFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFinal]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] NOT NULL,
	[NombreCliente] [varchar](50) NOT NULL,
	[NombreEmpresa] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[NumTelefono] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles de Pedidos]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles de Pedidos](
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [varchar](50) NULL,
	[PrecioUnitario] [float] NULL,
 CONSTRAINT [PK_Detalles de Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoId] [int] NOT NULL,
	[NombreEmpleado] [varchar](50) NOT NULL,
	[Cargo] [varchar](20) NOT NULL,
	[NumeroTelf] [varchar](14) NULL,
	[Correo] [varchar](30) NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sueldo] [int] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedidosId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[CodigoOrden] [int] NOT NULL,
	[FechaEntrega] [date] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedidosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] NOT NULL,
	[NombreProducto] [varchar](50) NOT NULL,
	[CodigoProducto] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[Cantidad] [varchar](20) NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transporte]    Script Date: 12/08/2022 08:31:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporte](
	[TransporteId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[PedidoId] [int] NOT NULL,
 CONSTRAINT [PK_Transporte] PRIMARY KEY CLUSTERED 
(
	[TransporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([CategoriaId], [Nombre]) VALUES (1, N'Material Natural')
INSERT [dbo].[Categoria] ([CategoriaId], [Nombre]) VALUES (2, N'Material Sintetico')
GO
INSERT [dbo].[Clientes] ([ClienteId], [NombreCliente], [NombreEmpresa], [Direccion], [NumTelefono]) VALUES (1, N'Maicon Lowenski', N'Facol S.A', N'Av 27 feb ', N'8095213480')
INSERT [dbo].[Clientes] ([ClienteId], [NombreCliente], [NombreEmpresa], [Direccion], [NumTelefono]) VALUES (2, N'Luis Garza', N'Protela S.A', N'Av Independencia', N'8095213496')
INSERT [dbo].[Clientes] ([ClienteId], [NombreCliente], [NombreEmpresa], [Direccion], [NumTelefono]) VALUES (3, N'Anthony Dalmasi', N'Creditex', N'Av Juan P. Duarte', N'8095213345')
GO
INSERT [dbo].[Detalles de Pedidos] ([PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (1, 4, N'5Kg', 200.56)
INSERT [dbo].[Detalles de Pedidos] ([PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (2, 5, N'10Kg', 300)
INSERT [dbo].[Detalles de Pedidos] ([PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (3, 7, N'25Kg', 59.8)
GO
INSERT [dbo].[Empleados] ([EmpleadoId], [NombreEmpleado], [Cargo], [NumeroTelf], [Correo], [Direccion], [Edad], [Sueldo]) VALUES (1, N'Juansito Guzman', N'Chofer', N'8297894538', N'juansito09@gmail.com', N'c/74 Los Mamelles', 40, 15000)
INSERT [dbo].[Empleados] ([EmpleadoId], [NombreEmpleado], [Cargo], [NumeroTelf], [Correo], [Direccion], [Edad], [Sueldo]) VALUES (2, N'Feliciano Patricio', N'Chofer', N'8498764504', N'patricio@gamil.com', N'c/1era Los Padros', 38, 15000)
INSERT [dbo].[Empleados] ([EmpleadoId], [NombreEmpleado], [Cargo], [NumeroTelf], [Correo], [Direccion], [Edad], [Sueldo]) VALUES (3, N'Alicia Perez', N'Jefa Almacen', N'8091234501', N'aliperez44@gmail.com', N'apart 8 las caobas ', 35, 65784)
GO
INSERT [dbo].[Pedidos] ([PedidosId], [ClienteId], [EmpleadoId], [CodigoOrden], [FechaEntrega]) VALUES (1, 1, 8, 110, CAST(N'2022-10-15' AS Date))
INSERT [dbo].[Pedidos] ([PedidosId], [ClienteId], [EmpleadoId], [CodigoOrden], [FechaEntrega]) VALUES (2, 2, 8, 111, CAST(N'2022-09-25' AS Date))
INSERT [dbo].[Pedidos] ([PedidosId], [ClienteId], [EmpleadoId], [CodigoOrden], [FechaEntrega]) VALUES (3, 3, 4, 112, CAST(N'2022-09-11' AS Date))
GO
INSERT [dbo].[Productos] ([ProductoId], [NombreProducto], [CodigoProducto], [Precio], [Cantidad], [CategoriaId]) VALUES (1, N'Algodon', 101, 99.84, N'1Kg', 1)
INSERT [dbo].[Productos] ([ProductoId], [NombreProducto], [CodigoProducto], [Precio], [Cantidad], [CategoriaId]) VALUES (2, N'Seda', 102, 150.89, N'1Kg', 1)
INSERT [dbo].[Productos] ([ProductoId], [NombreProducto], [CodigoProducto], [Precio], [Cantidad], [CategoriaId]) VALUES (3, N'Lino ', 103, 80.99, N'1Kg', 1)
GO
INSERT [dbo].[Transporte] ([TransporteId], [EmpleadoId], [ClienteId], [PedidoId]) VALUES (210, 1, 1, 1)
INSERT [dbo].[Transporte] ([TransporteId], [EmpleadoId], [ClienteId], [PedidoId]) VALUES (211, 1, 2, 2)
INSERT [dbo].[Transporte] ([TransporteId], [EmpleadoId], [ClienteId], [PedidoId]) VALUES (212, 1, 3, 3)
GO
ALTER TABLE [dbo].[Detalles de Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Detalles de Pedidos_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([PedidosId])
GO
ALTER TABLE [dbo].[Detalles de Pedidos] CHECK CONSTRAINT [FK_Detalles de Pedidos_Pedidos]
GO
ALTER TABLE [dbo].[Detalles de Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Detalles de Pedidos_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoId])
GO
ALTER TABLE [dbo].[Detalles de Pedidos] CHECK CONSTRAINT [FK_Detalles de Pedidos_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes1] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes1]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([EmpleadoId])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Empleados]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([CategoriaId])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Transporte]  WITH CHECK ADD  CONSTRAINT [FK_Transporte_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Transporte] CHECK CONSTRAINT [FK_Transporte_Clientes]
GO
ALTER TABLE [dbo].[Transporte]  WITH CHECK ADD  CONSTRAINT [FK_Transporte_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([EmpleadoId])
GO
ALTER TABLE [dbo].[Transporte] CHECK CONSTRAINT [FK_Transporte_Empleados]
GO
USE [master]
GO
